*{
    margin:0;
    padding :0;
}
body{
    background-color: cadetblue;
}
.container{
    height:80vh;
    width: 80vw;

    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    display: flex;
    flex-wrap: wrap;
    width:70vmin;
    height:70vmin;
    justify-content: center;
    align-items: center;
    gap:1rem;
    
}
.box{
    height: 18vmin;
    width:18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow:0 0 1rem burlywood;
    
}
#reset{
    padding:1rem;
    font-size:1.25rem;
    background-color: black;
    color:#fff;
    border-radius:1rem;
    border:none;

}